*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: var(--fonte-base);
  font-size: var(--tamanho-m);
  line-height: var(--altura-normal);
  -webkit-font-smoothing: antialiased;
}
